<h1>Edit Event</h1>

<%= form_with model: @event do |form| %>
  <div class="title-field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div><br>

  <div class="descript-field">
    <%= form.label :description %><br>
    <%= form.text_area :description, size: "25x5" %>
  </div><br>

  <div class="loc-field">
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </div><br>

  <div class="date-time">
    <%= form.label :date_time %><br>
    <%= form.datetime_local_field :date_time%>
  </div><br>

  <div class="submit-btn">
    <%= form.submit "Update Event" %>
  </div>
<% end %>